#display{
  display: block;
  border-radius: 3px;
  border: 3px solid black;
  width:200px; 
  margin:auto;
  margin: 10px;
}
#calculator{
  display:flex;
 place-items:center ;
 flex-direction: column;
 height: auto;
 
  margin:20px;
  border: 5px solid blue;
  width:250px;
}
#btn-container{
  display: flex;
  justify-content: center;
 flex-wrap: wrap;
 
 
}
button{
  width: 55px;
  height: 45px;
  margin:3px
}
button:hover{
  background-color: rgb(107, 107, 226);
}